body {
  margin: 20px;
  padding: 0
}

header {
  background-color: #F0F0F0;
  padding: 20px;
}

.logo {
  width: 140px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #707070;
  padding: 0 20px 0 0;
  margin-left: 20px;
}

a,
a:visited {
  color: #707070;
  text-decoration: none;
}

a:hover {
  color: #00AFEF;
  text-decoration: underline;
}

body {
  margin: 20px;
  padding: 0;
  font-size: 2.5em;
}

.container {
  background-color: #F0F0F0;
}

.box {
  padding: 40px 55px;
  margin: 15px 0;
  background-color: #00AFEF;
  color: #fff;
  border: solid 1px #777;
}

#set4step1 div.box #set4step2 div.box #set5step1 div.box{
  text-align: center;
}

#set4step1 div.box:nth-child(even) #set4step2 div.box:nth-child(even) {
  background-color: #570b5a;
}

.bio {
  background-color: #F0F0F0;
  padding: 20px;
  margin-bottom: 20px;
  border: solid 1px #555;
}

.bio img {
  width: 150px;
  border-radius: 999px;
  margin: 0 10px;
}

#set1step1 nav ul{
  display: flex;
}

#set1step2 nav ul{
  display: flex;
}

#set1step2{
  display: flex;
}

#set1step3{
  display: flex;
}

#set1step3 nav ul{
  display: flex;
  justify-content: center;
}

#set1step3 nav{
  flex-grow: 2;
}

#set1step4{
  display: flex;
  justify-content: space-between;
}

#set1step4 nav ul{
  display: flex;
  justify-content: flex-end;
}

#set2step1{
  display: flex;
  justify-content: space-evenly;
}
#set2step2{
  display: flex;
  justify-content: space-between;
}

#set3step1{
  height: 500px;
  display: flex;
  background-color: aqua;
}

#set3step2{
  display: flex;
  height: 500px;
  align-items: end;
  background-color: #707070;
}

#set3step3{
  display: flex;
  height: 500px;
  align-items: start;
  background-color: brown;
}
#set3step4{
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: space-evenly;
}

#set4step1{
  display: flex;
}

#set4step1 div.box{
flex-grow: 2;
}

#set4step2{
  display: flex;
}

#set4step2 div.box:nth-child(even){
flex-grow: 25;
}

#set4step2 div.box:nth-child(odd){
  flex-grow: 5;
  }