body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aqua;
}

form {
    background-color: rgb(175, 114, 233);
}

main{
    background-color: brown;
    margin: 0px;
    padding: 0px;
}

header {
    margin: 0px;
    padding: 0px;
    background-color: chartreuse;
}