body {
  margin: 20px;
  padding: 0
}

header {
  background-color: #F0F0F0;
  padding: 20px;
}

.logo {
  width: 140px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #707070;
  padding: 0 20px 0 0;
  margin-left: 20px;
}

a,
a:visited {
  color: #707070;
  text-decoration: none;
}

a:hover {
  color: #00AFEF;
  text-decoration: underline;
}

body {
  margin: 20px;
  padding: 0;
  font-size: 2.5em;
}

.container {
  background-color: #F0F0F0;
}

.box {
  padding: 40px 55px;
  margin: 15px 0;
  background-color: #00AFEF;
  color: #fff;
  border: solid 1px #777;
}

#set4step1.box #set4step2.box #set5step1.box{
  text-align: center;
}

#set4step1.box:nth-child(even) #set4step2.box:nth-child(even) {
  background-color: #005270;
}

.bio {
  background-color: #F0F0F0;
  padding: 20px;
  margin-bottom: 20px;
  border: solid 1px #555;
}

.bio img {
  width: 150px;
  border-radius: 999px;
  margin: 0 10px;
}
