*{
  box-sizing: border-box;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

html {
   font-size: 16px;
}

body {
  background-color: rgba(192, 192, 192, 0.1);
}

main {
  margin-left: 200px;
}

body aside {
<<<<<<< HEAD
  border-right: 1px solid #00ADEE;
  border-color: rgba(0, 173, 238, 0.4);
=======
  border-right: 1px solid rgba(0, 173, 238, 0.4);
>>>>>>> 0415ebe7e64d2857debee929e1e349117eb6cf25
  position: fixed;
  height: 100vh;
  width: 200px;
}

aside img {
  height: 120px;
  display: block;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

<<<<<<< HEAD

/* * Blue: `#00ADEE`
* Blue Border: `rgba(0, 173, 238, 0.4)` */

body aside nav ul li{
  border-bottom: 1px solid #00ADEE;
  border-color: rgba(0, 173, 238, 0.4);
=======
body aside nav ul li {
  list-style: none;
  border-bottom: 1px solid rgba(0, 173, 238, 0.4);
>>>>>>> 0415ebe7e64d2857debee929e1e349117eb6cf25
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
}

<<<<<<< HEAD
body aside nav ul > li > a{
  text-decoration: none;
}

body aside nav ul :first-child :first-child{
  text-decoration: underline;
}
=======
body aside nav ul li a{
  color: #00ADEE;
  font-weight: bold;
  text-decoration: none;
}

nav li:first-child {
  text-decoration: underline;
}

header img {
  height: 100px;
  display: block;
  margin-bottom: 20px;
}

.banner {
  width: 100%;
  height: auto;
}

main {
  padding: 0 20px;
}

header img {
  height: 100px;
  display: block;
  margin-bottom: 20px;
}

section div {
  width: 33%; 
  display: inline-block; 
  vertical-align: top; 
  box-sizing: border-box; 
}

section div:not(:last-child) {
  border-right: 1px solid rgba(170, 239, 135, 0.8); 
}

section h2 {
  color: #8CC36F; 
}

section h2 i {
  margin-right: 5px;
}

>>>>>>> 0415ebe7e64d2857debee929e1e349117eb6cf25
